*{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6{
    font-family: Oswald;
}
p, a{
    font-family: Montserrat;
}
button:hover{
    color: black !important;
    border: 1px solid black !important;
}
/*banner starts*/
.carousel img{
    width: 100%;
    height: 700px;
}
.carousel-control-prev:hover{
    border: none !important;
}
.carousel-control-next:hover{
    border: none !important;
}
.captions{
    position: absolute;
    top: 40%;
    left: 28%;
    text-align: center;
}
.captions h1{
    font-size: 3rem;
}

/*course*/

.gap{
    --bs-gutter-y: 1.5rem;
}
/*course*/

/*explore*/
.together{
    --bs-gutter-x: -0.5rem;
}

/*explore*/
